{% extends 'layout.html.twig' %}
{% block title %}Emploi | Demandeur{% endblock %}
{% block body %}
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{{ ('templates/images/hero_1.jpg') }}');" id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    {% if app.user.demandeur==null%}
                        {% if demandeur is defined and demandeur.getPhoto()!=null %}
                            <img src="{{ ('photoprofile/') }}{{ demandeur.getPhoto() }}" alt="Image placeholder" class="img-fluid  rounded-circle pp">
                          {% else %}
                            <img src="{{ ('templates/images/person_1.jpg') }}" alt="Image placeholder" class="img-fluid  rounded-circle pp">
                        {% endif %}
                        <p class="text-white font-weight-bold">{{ demandeur.getNomPrenom() }}</p>
                        <div class="custom-breadcrumbs">
                            <a href="#">{{ demandeur.getAdresse() }}</a><span class="mx-2 slash">/</span>
                            <span class="text-white"><strong>{{ demandeur.getDateNaissance() }}</strong></span>
                        </div>
                        {% else %}
                            <img src="{{ ('photoprofile/') }}{{ app.user.demandeur.getPhoto() }}" alt="Image placeholder" class="img-fluid  rounded-circle pp">
                            <p class="text-white font-weight-bold">{{ app.user.demandeur.getNomPrenom() }}</p>
                            <div class="custom-breadcrumbs">
                                <a href="#">{{ app.user.demandeur.getAdresse() }}</a><span class="mx-2 slash">/</span>
                                <span class="text-white"><strong>{{ app.user.demandeur.getDateNaissance() }}</strong></span>
                            </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <br/>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary section-heading" data-toggle="modal" data-target="#exampleModalCenter">
        Experience +
    </button>

    <button type="button" class="btn btn-primary section-heading" data-toggle="modal" data-target="#exampleModalCenter">
        Formation +
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajouter une formation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" name="formationForm" action="{{ path('app_formation_add') }}">
                        <input type="hidden" name="formation_token"
                               value="{{ csrf_token('formation') }}"
                        >
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="debut">Date de debut</label>
                                <input type="date" name="date_debut" id="debut" class="form-control" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="fin">Date de Fin</label>
                                <input type="date" id="fin" name="date_fin" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="etablissement">Etablissement</label>
                            <input type="text" class="form-control" name="etablissement" id="etablissement" placeholder="Nom de l'etablissement" required>
                        </div>
                        <div class="form-group">
                            <label for="intitule">Intitulé</label>
                            <input type="text" class="form-control" name="intitule" id="intitule" placeholder="Intitulé de la formaation" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description de la formation</label>
                            <textarea class="form-control" name="description" id="description" rows="5"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <input type="submit" value="Ajuter" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section class="site-section">
        <div class="container">
            <section class="page-section" id="about">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">Formations</h2>
                    </div>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="" alt="" /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="" alt="" /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="" alt="" /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    Be Part
                                    <br />
                                    Of Our
                                    <br />
                                    Story!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">Experiences Professionnelle</h2>
                    </div>
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="" alt="" /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    Be Part
                                    <br />
                                    Of Our
                                    <br />
                                    Story!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
