{% extends 'layout.html.twig' %}
{% block title %}Emploi | Demandeur{% endblock %}
{% block body %}
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{{ ('templates/images/hero_1.jpg') }}');" id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    {% if app.user.demandeur==null%}
                        {% if demandeur is defined and demandeur.getPhoto()!=null %}
                            <img src="{{ ('photoprofile/') }}{{ demandeur.getPhoto() }}" alt="Image placeholder" class="img-fluid  rounded-circle pp">
                          {% else %}
                            <img src="{{ ('templates/images/person_1.jpg') }}" alt="Image placeholder" class="img-fluid  rounded-circle pp">
                        {% endif %}
                        <p class="text-white font-weight-bold">{{ demandeur.getNomPrenom() }}</p>
                        <div class="custom-breadcrumbs">
                            <a href="#">{{ demandeur.getAdresse() }}</a><span class="mx-2 slash">/</span>
                            <span class="text-white"><strong>{{ demandeur.getDateNaissance() }}</strong></span>
                        </div>
                        {% else %}
                            <img src="{{ ('photoprofile/') }}{{ app.user.demandeur.getPhoto() }}" alt="Image placeholder" class="img-fluid  rounded-circle pp">
                            <p class="text-white font-weight-bold">{{ app.user.demandeur.getNomPrenom() }}</p>
                            <div class="custom-breadcrumbs">
                                <a href="#">{{ app.user.demandeur.getAdresse() }}</a><span class="mx-2 slash">/</span>
                                <span class="text-white"><strong>{{ app.user.demandeur.getDateNaissance() }}</strong></span>
                            </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <br/>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary section-heading espacement" data-toggle="modal" data-target="#experince">
                Experience  <i class="bi bi-plus-square"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>

            <button type="button" class="btn btn-primary section-heading espacement" data-toggle="modal" data-target="#exampleModalCenter">
                Formation  <i class="bi bi-plus-square"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>
            <button type="button" class="btn btn-primary section-heading espacement" style="height: 38px;">
                <form method="post" name="sendCV" action="{{ path('app_demandeur_cv') }}" enctype="multipart/form-data">
                    <label for="file">
                        Charger votre CV<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
                            <path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                        </svg>
                    </label>
                    <input type="file" id="file" name="cv" style="display: none;" required>
                    <button type="submit" class="btn btn-primary section-heading espacement"> envoyer CV <i class="bi bi-cloud-upload"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                            <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z"/>
                        </svg>
                    </button>
                </form>
            </button>
            {% if app.user.demandeur.getCv()!=null %}
                <button type="button" class="btn btn-primary section-heading espacement">
                    <a href="{{ ('cv/') }}{{ app.user.demandeur.getCv() }}" target="_blank">
                        Voir mon CV  <i class="bi bi-file-earmark-easel"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-easel" viewBox="0 0 16 16">
                            <path d="M8.5 6a.5.5 0 1 0-1 0h-2A1.5 1.5 0 0 0 4 7.5v2A1.5 1.5 0 0 0 5.5 11h.473l-.447 1.342a.5.5 0 1 0 .948.316L7.027 11H7.5v1a.5.5 0 0 0 1 0v-1h.473l.553 1.658a.5.5 0 1 0 .948-.316L10.027 11h.473A1.5 1.5 0 0 0 12 9.5v-2A1.5 1.5 0 0 0 10.5 6h-2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-2z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                        </svg>
                    </a>
                </button>
                <button type="button" class="btn btn-primary section-heading espacement">
                    <a href="{{ path('app_delete_cv') }}">
                        supprimer mon CV  <i class="bi bi-file-earmark-x"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-x" viewBox="0 0 16 16">
                            <path d="M6.854 7.146a.5.5 0 1 0-.708.708L7.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L8 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 9l1.147-1.146a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                        </svg>
                    </a>
                </button>
            {% endif %}
            <button type="button" class="btn btn-primary section-heading espacement">
                {#{{ path('app_demandeur_edit', {'id':app.user.demandeur.id }) }}#}
                <a href="{{ path('app_demandeur_edit') }}">
                    Editer votre profil  <i class="bi bi-pencil-square"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </a>
            </button>
        </div>
    </div>

    <!--=================================MODAL FORMATION=======================================-->
    <!-- Modal Formation -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajouter une formation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" name="formationForm" action="{{ path('app_formation_add') }}">
                        <input type="hidden" name="formation_token"
                               value="{{ csrf_token('formation') }}"
                        >
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="debut">Date de debut</label>
                                <input type="date" name="date_debut" id="debut" class="form-control" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="fin">Date de Fin</label>
                                <input type="date" id="fin" name="date_fin" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="etablissement">Etablissement</label>
                            <input type="text" class="form-control" name="etablissement" id="etablissement" placeholder="Nom de l'etablissement" required>
                        </div>
                        <div class="form-group">
                            <label for="intitule">Intitulé</label>
                            <input type="text" class="form-control" name="intitule" id="intitule" placeholder="Intitulé de la formaation" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description de la formation</label>
                            <textarea class="form-control" name="description" id="description" rows="5"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <input type="submit" value="Ajuter" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--=================================MODAL EXPERIENCE=======================================-->
    <!-- Modal Formation -->
    <div class="modal fade" id="experince" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajouter une Experience</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" name="experienceForm" action="{{ path('app_experience_add') }}">
                        <input type="hidden" name="experience_token"
                               value="{{ csrf_token('experience') }}"
                        >
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="debut">Date de debut</label>
                                <input type="date" name="date_debut" id="debut" class="form-control" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="fin">Date de Fin</label>
                                <input type="date" id="fin" name="date_fin" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="organisation">Structure</label>
                            <input type="text" class="form-control" name="organisation" id="organisation" placeholder="Nom de la structure" required>
                        </div>
                        <div class="form-group">
                            <label for="post">Post</label>
                            <input type="text" class="form-control" name="post" id="post" placeholder="Le post que vous avez occupés..." required>
                        </div>
                        <div class="form-group">
                            <label for="mission">Votre mission</label>
                            <textarea class="form-control" name="mission" id="description" rows="5"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <input type="submit" value="Ajuter" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section class="site-section">
        <div class="container">
            <section class="page-section" id="about">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">Formations</h2>
                    </div>
                    <ul class="timeline">
                        {% if app.user.demandeur!=null%}
                            {% set posi =1 %}
                            {% for formation in app.user.demandeur.getFormation() %}
                                {% if posi==1 %}
                                        <li>
                                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ ('templates/images/formation.png') }}" alt="Formation" /></div>
                                            <div class="timeline-panel">
                                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                                        <button type="button" class="btn btn-secondary">
                                                            <i class="bi bi-pencil-fill"></i>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                    <div class="btn-group" role="group" aria-label="Third group">
                                                        <button type="button" class="btn btn-secondary">
                                                            <a href="{{ path('app_formation_delete', {'id':formation.getId() }) }}">
                                                                <i class="bi bi-trash-fill"></i>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                                                </svg>
                                                            </a>
                                                        </button>
                                                    </div>
                                                </div>
                                                <br/>
                                                <div class="timeline-heading">
                                                    <h4>
                                                        {{ formation.getDateDebut()}} <i class="bi bi-arrow-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                                            </svg></i> {{ formation.getDateFin() }}
                                                    </h4>
                                                    <h4 class="subheading">{{ formation.getIntitule()}}</h4>
                                                    <p class="text-muted">{{ formation.getEtablissement()}}</p>
                                                </div>
                                                <div class="timeline-body"><p class="text-muted">{{ formation.getDescription()}}</p></div>
                                            </div>
                                        </li>
                                        {% set posi =0 %}
                                        {% else %}
                                            <li class="timeline-inverted">
                                                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ ('templates/images/formation.png') }}" alt="Formation" /></div>
                                                <div class="timeline-panel">
                                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                                            <button type="button" class="btn btn-secondary">
                                                                <i class="bi bi-pencil-fill"></i>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                        <div class="btn-group" role="group" aria-label="Third group">
                                                            <button type="button" class="btn btn-secondary">
                                                                <a href="{{ path('app_formation_delete', {'id':formation.getId() }) }}">
                                                                    <i class="bi bi-trash-fill"></i>
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                                                    </svg>
                                                                </a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="timeline-heading">
                                                        <h4>
                                                            {{ formation.getDateDebut()}} <i class="bi bi-arrow-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                                                </svg></i> {{ formation.getDateFin() }}
                                                        </h4>
                                                        <h4 class="subheading">{{ formation.getIntitule()}}</h4>
                                                        <p class="">{{ formation.getEtablissement()}}</p>
                                                    </div>
                                                    <div class="timeline-body"><p class="text-muted">{{ formation.getDescription()}}</p></div>
                                                </div>
                                            </li>
                                            {% set posi =1 %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <li class="timeline-inverted">
                                    <div class="timeline-image">
                                        <h4>
                                            0
                                            <br />
                                            Formation
                                            <br />
                                            Professionnelle!
                                        </h4>
                                    </div>
                                </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">Experiences Professionnelle</h2>
                    </div>
                    <ul class="timeline">
                        {% if app.user.demandeur!=null%}
                            {% set posi =1 %}
                            {% for experience in app.user.demandeur.getExperiences() %}
                                {% if posi==1 %}
                                    <li>
                                        <div class="timeline-image">
                                            <img class="rounded-circle img-fluid" src="{{ ('templates/images/experience.jpg') }}" alt="experience">
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                                    <button type="button" class="btn btn-secondary">
                                                        <i class="bi bi-pencil-fill"></i>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="btn-group" role="group" aria-label="Third group">
                                                    <button type="button" class="btn btn-secondary">
                                                        <a href="{{ path('app_experience_delete', {'id':experience.getId() }) }}">
                                                            <i class="bi bi-trash-fill"></i>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                                            </svg>
                                                        </a>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="timeline-heading">
                                                <h4>
                                                    {{ experience.getDateDebut()}} <i class="bi bi-arrow-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                                        </svg></i> {{ experience.getDateFin() }}
                                                </h4>
                                                <h4 class="subheading">{{ experience.getPoste()}}</h4>
                                                <p class="text-muted">{{ experience.getOrganisation()}}</p>
                                            </div>
                                            <div class="timeline-body"><p class="text-muted">{{ experience.getMission()}}</p></div>
                                        </div>
                                    </li>
                                    {% set posi =0 %}
                                {% else %}
                                    <li class="timeline-inverted">
                                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="" alt="" /></div>
                                        <div class="timeline-panel">
                                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                                    <button type="button" class="btn btn-secondary">
                                                        <i class="bi bi-pencil-fill"></i>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="btn-group" role="group" aria-label="Third group">
                                                    <button type="button" class="btn btn-secondary">
                                                        <a href="{{ path('app_experience_delete', {'id':experience.getId() }) }}">
                                                            <i class="bi bi-trash-fill"></i>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                                            </svg>
                                                        </a>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="timeline-heading">
                                                <h4>
                                                    {{ experience.getDateDebut()}} <i class="bi bi-arrow-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                                        </svg></i> {{ experience.getDateFin() }}
                                                </h4>
                                                <h4 class="subheading">{{ experience.getPoste()}}</h4>
                                                <p class="text-muted">{{ experience.getOrganisation()}}</p>
                                            </div>
                                            <div class="timeline-body"><p class="text-muted">{{ experience.getMission()}}</p></div>
                                        </div>
                                    </li>
                                    {% set posi =1 %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <h4>
                                        0
                                        <br />
                                        Experience
                                        <br />
                                        Professionnelle!
                                    </h4>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
